<h1 align="center" style="color: #2D6F96;"><strong>HECHO EN BOLIVIA</strong></h1>
<img src='/assets/bolivia.jpg' width='100%'>
<br><br/>
<div class='container marketing' style='padding-left:10%; padding-right:10%;'>
  <p>
    <h4 class='text-muted'>
      La <strong>FUNDACIÓN</strong>, es una persona jurídica de derecho privado;  sin fines de lucro. El alcance de las actividades realizadas por la <strong>FUNDACIÓN</strong>, se orientan a contribuir al Desarrollo Económico Social, conforme los lineamientos establecidos en la Planificación Nacional, las Políticas nacionales y las Políticas sectoriales.
      <br><br>
      La <strong>FUNDACIÓN</strong> goza de la capacidad jurídica y las facultades establecidas por el Código Civil y demás disposiciones legales del Estado Plurinacional de Bolivia, con relación a las personas colectivas en general y las fundaciones en particular. Tiene personalidad propia, autónoma y plena capacidad de acción y de decisión para el cumplimiento de sus fines y objetivos.
      <br><br>
    </h4>
    </p>
      <div class="row featurette">

        <div class='col-xs-6' style='border-right:1px solid #2D6F96;'>
          <h3  style="color: #2D6F96;">
          <strong>OBJETIVOS</strong><br><br>
</h3>
          <h4 class='text-muted'>
          <ul>
              <li>Vincular mediante la cadena de valor a los demandantes de productos, procesos y servicios con los productores de bienes y servicios <strong>"Hecho en Bolivia"</strong>.</li>
              <li>Promocionar y exponer la oferta productiva del país en los mercados tanto nacional como internacional.</li>
              <li>Ser la institución responsable de desarrollar, implementar y administrar la marca país <strong>"Hecho en Bolivia"</strong> (imagen e identidad) de Bolivia.</li>
              <li>Fomentar el desarrollo tecnológico y la competitividad en el sector empresarial a nivel nacional e internacional.</li>
              <li>Generar espacios de encuentro de profesionales académicos, funcionarios gubernamentales y representantes empresariales, para el fomento, promoción y fortalecimiento de la producción de bienes y servicios <strong>"Hecho en Bolivia"</strong>.</li>
              <li>Elaborar documentos de la oferta del sector productivo.</li>
              <li>En general promover todo tipo de actividades para la divulgación de los bienes y servicios <strong>"Hecho en Bolivia"</strong>.</li>
        </ul>
        </h4>
      </div>
      <div class='col-xs-6'>
        <h3  style="color: #2D6F96;">
        <strong>FINES</strong> <br><br>
        </h3>
        <h4 class='text-muted'>
        <ul>
          <li> Contribuir al desarrollo  de la región y el país, a través de actividades de promoción y fomento de la producción de bienes y servicios <strong>"Hecho en Bolivia"</strong>.</li>
          <li> Constituir una plataforma de encuentro, análisis y debate entre las comunidades científica, educativa, tecnológica y empresarial de la región y el país.</li>
          <li> Impulsar la divulgación de la oferta productiva del país.</li>
          <li> Fortalecer la conciencia del consumidor a nivel nacional sobre los bienes y servicios <strong>"Hecho en Bolivia"</strong>.</li>
          <li> Promover y apoyar la competitividad a nivel internacional de las empresas productivas de bienes y servicios <strong>"Hecho en Bolivia"</strong>.</li>
        </ul>
        </h4>
      </div>
  </div>
</div>
<br><br>
<div class='row featurette' align='center' style='background:#EFEEEC;'>
  <img src='/assets/boliviateespera.jpg' width='30%'>
</div>
