<h1 style="border-bottom: 1px solid #2D6F96; color: #2D6F96; padding-bottom:7px;">Administrador</h1>

<ul class="nav nav-pills">

  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      Actividades <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
      <li><a href="/actividads"> Ver todos</a></li>
        <li><a href="/actividads/new">Crear actividad</a></li>


    </ul>

  </li>
   <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
      Voluntarios <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
      <li>Ver Todos</li>
       


    </ul>

  </li>

</ul>
<div class='row featurette' align='center' style='background:#EFEEEC;'>
  <img src='/assets/admin.jpg' >
</div>

