<h1 style="border-bottom: 1px solid #2D6F96; color: #2D6F96; padding-bottom:7px;">Gastronomía</h1>
<div class="container">
	<br>
La Gastronomía de Bolivia es conocida principalmente por su variedad de platos que varían de zona en zona. Con profundas raíces españolas e indígenas, transformadas por el mestizaje y los diferentes momentos históricos que el país ha experimentado, la gastronomía boliviana ha sumado una amplia gama de platos y recetas, lo cual la hace variada, rica y diferenciada. A esto se le suman las bebidas como el vino boliviano, la Chicha y el Cocoroco.
<br>
<h3 style=" color: #2D6F96; ">Comida Típica</h3>
<br>
 La cocina de Bolivia difiere mucho de una región a otra, porque Bolivia tiene muchas zonas geográficas y distintos orígenes culturales.  Pero lo que es similar en todos ellos es la abundancia de carnes, papas y maíz.  Y el agregado de distintos condimentos hace que cada región tenga un sabor diferente y especial.
 <br>
 <h3 style=" color: #2D6F96; ">Departamento de La Paz</h3>
 <br>
 La gastronomía en La Paz, es muy variada, considerando que la diversidad de ecosistemas que posee este departamento permite que en la región cuente con una gran variedad de productos alimenticios y en consecuencia cuente con una diversidad de deliciosas recetas de comidas.
 <br>
 En los Yungas de La Paz se cultiva café, té,cacao,arroz,cítricos,maní, variedad de frutas y otros. En la región del altiplano paceño donde el clima es más frio se produce quinua, cebada, alfafa, papa, papalisa y otros.
 <br>
 A continuación se muestra parte de la comida tipica paceña:
 <br>
</div>
 <table class="table">
    <thead>
      <tr>
        <th><center><h3 style=" color: #2D6F96; ">Chairo</h3></center></th>
        <th><center><h3 style=" color: #2D6F96;">Fricase</h3></center></th>
        <th><center><h3 style="color: #2D6F96;">Plato paceño</h3></center></th>
        
      </tr>
    </thead>
    <tbody>
      
      <tr class="info">
        <td><img src="/assets/chairo.jpg" class="img-circle" alt="gastronomia" width="304" height="236"></td>
       <td><img src="/assets/fricase.jpg" class="img-circle" alt="turismo" width="304" height="236"></td>
       <td><img src="/assets/platopacenio.jpg" class="img-circle" alt="economia" width="304" height="236"></td>
       
      </tr>
    </tbody>
  </table>
  <br>
 <h3 style=" color: #2D6F96; ">Departamento de Cochabamba</h3>
 <br>
 <div class="container">
 	Cochabamba es conocida como la capital gastronómica de Bolivia, por su diversidad de ingredientes en sus platos tradicionales.
 	<br>
En los valles cochabambinos se cultivan el maíz, trigo, legumbres y hortalizas, además de variedad de frutas. En sus zonas altas se cultivan la papa, oca, quinua, cebada. En el llano la caña de azucar,plátano, café, yuca, cioca y cítricos.El departamento destaca también su producción avícola, la cría de ganado ovino y vacuno.
<br>
 A continuación se muestra parte de la comida tipica cochabambina:

</div>
 <table class="table">
    <thead>
      <tr>
        <th><center><h3 style=" color: #2D6F96; ">Pique</h3></center></th>
        <th><center><h3 style=" color: #2D6F96;">Sillpancho</h3></center></th>
        <th><center><h3 style="color: #2D6F96;">Chicharrón</h3></center></th>
        
      </tr>
    </thead>
    <tbody>
      
      <tr class="info">
        <td><img src="/assets/pique.jpg" class="img-circle" alt="gastronomia" width="304" height="236"></td>
       <td><img src="/assets/silpancho.jpg" class="img-circle" alt="turismo" width="304" height="236"></td>
       <td><img src="/assets/chicharron.jpg" class="img-circle" alt="economia" width="304" height="236"></td>
       
      </tr>
    </tbody>
  </table>
   <br>
 <h3 style=" color: #2D6F96; ">Departamento de Santa Cruz</h3>
 <br>
  <div class="container">
 	Santa Cruz se caracteriza por sus deliciosas recetas tradicionales, los cuñapes, el pan de arroz, el majadito, la sopa de maní, son solo una muestra de la riqueza del oriente boliviano.
<br>
El clima cálido del departamento cruceño es ideal para el cultivo de arroz, soya, sorgo, maní, fréjol y trigo;además de girasol, caña de azúcar, plátano, yuca, cacao y entre otros. También se cría ganado bovino, porcino equino y ovino.
<br>
A continuación se muestra parte de la comida tipica cruceña:    
</div>
<br>
 <table class="table">
    <thead>
      <tr>
        <th><center><h3 style=" color: #2D6F96; ">Cuñape</h3></center></th>
        <th><center><h3 style=" color: #2D6F96;">Pacumutu</h3></center></th>
        <th><center><h3 style="color: #2D6F96;">Majadito</h3></center></th>
        
      </tr>
    </thead>
    <tbody>
      
      <tr class="info">
        <td><img src="/assets/cunape.jpg" class="img-circle" alt="gastronomia" width="304" height="236"></td>
       <td><img src="/assets/pacumutu.jpg" class="img-circle" alt="turismo" width="304" height="236"></td>
       <td><img src="/assets/majadito.jpg" class="img-circle" alt="economia" width="304" height="236"></td>
       
      </tr>
    </tbody>
  </table>