
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1" class=""></li>
          <li data-target="#myCarousel" data-slide-to="2" class=""></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="item">
            <img class="first-slide" src="/assets/1.jpg" alt="First slide">
            <div class="container">
              <div class="carousel-caption">
                <h1>¡Actualízate!</h1>
                <p>Con nuestras publicaciones de artículos podrás conocer la situación económico-social de Bolivia. Y comentar al respecto.</p>
                
              </div>
            </div>
          </div>
          <div class="item active left">
            <img class="second-slide" src="/assets/2.jpg" alt="Second slide">
            <div class="container">
              <div class="carousel-caption">
                <h1>Conoce acerca de la Fundación.</h1>
                <p>Consume lo nuestro</p>
               
              </div>
            </div>
          </div>
          <div class="item next left">
            <img class="third-slide" src="/assets/3.jpg" alt="Third slide">
            <div class="container">
              <div class="carousel-caption">
                <h1>Bolivia y el mundo</h1>
                <p>Conoce la situación del país y del mundo según índices de desarrollo. </p>
               
              </div>
            </div>
          </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="sr-only">Next</span>
        </a>
      </div>

<div class="container marketing" style='padding-top:20px;'>
  <div class="row featurette" style="padding-right:20px; padding-left:20px;">
      <div >
        <h1 style="border-bottom: 1px solid #2D6F96; color: #2D6F96; padding-bottom:7px;">Conoce acerca de la Fundación Hecho en Bolivia:</h1>
        <div class='container-fluid' style='padding-left:20px; padding-right:20px;'>
        	 <p style="text-align:justify"> 
        	 	<br>
        	La FUNDACIÓN, es una persona jurídica de derecho privado; sin fines de lucro. El alcance de las actividades realizadas por la FUNDACION, se orientan a contribuir al Desarrollo Económico Social, conforme los lineamientos establecidos en la Planificación Nacional, las Políticas nacionales y las Políticas sectoriales. 
        	<br><br>
La FUNDACIÓN goza de la capacidad jurídica y las facultades establecidas por el Código Civil y demás disposiciones legales del Estado Plurinacional de Bolivia, con relación a las personas colectivas en general y las fundaciones en particular. Tiene personalidad propia, autónoma y plena capacidad de acción y de decisión para el cumplimiento de sus fines y objetivos.
<br>
</p>


        	<table class="table">
    <thead>
      <tr>
        <th><center><h3 style="border-bottom: 1px solid #2D6F96; color: #2D6F96; ">Gastronomía</h3></center></th>
        <th><center><h3 style="border-bottom: 1px solid #2D6F96; color: #2D6F96;">Turismo</h3></center></th>
        <th><center><h3 style="border-bottom: 1px solid #2D6F96; color: #2D6F96;">Economía</h3></center></th>
        
      </tr>
    </thead>
    <tbody>
      
      <tr class="info">
        <td><a href="/gastronomia"><img src="/assets/gastronomia.jpg" class="img-circle" alt="gastronomia" width="304" height="236"></a></td>
       <td><a href="/gastronomia"><img src="/assets/turismo.jpg" class="img-circle" alt="turismo" width="304" height="236"></a></td>
       <td><a href="http://pulso-economico.herokuapp.com/" target="_blank"><img src="/assets/economia.jpg" class="img-circle" alt="economia" width="304" height="236"></a></td>
       
      </tr>
    </tbody>
  </table>
          
         
      </div>
    </div>
    
  </div>
</div>
</div>
