

<!DOCTYPE html>
<html lang="en">

<body>

<div class="container">
       <h1 style="border-bottom: 1px solid #2D6F96; color: #2D6F96; padding-bottom:7px;">Videos</h1>
         
  <table class="table table-hover">
    
      
    <tbody>
      <tr>
        <td><center><b>PRIMER SPOT- CONSUME LO NUESTRO</b> <br> <br><iframe width="420" height="315" src="https://www.youtube.com/embed/K8mdtZ6k7O0" frameborder="0" allowfullscreen></iframe></center></td>
         
        
     
        <td><center><b>SEGUNDO SPOT- CONSUME LO NUESTRO</b> <br> <br><iframe width="420" height="315" src="https://www.youtube.com/embed/S_t-ejOKwDg" frameborder="0" allowfullscreen></iframe></center> </td>
        
        
      </tr>
       <tr>
        <td><center><b>VIDEOCLIP HECHO EN BOLIVIA</b>  <br><br><iframe width="420" height="315" src="https://www.youtube.com/embed/i71NwA2Q_Zs" frameborder="0" allowfullscreen></iframe></center> </td>
        
        <td><center><b>III CONCURSO DE TEATRO-BANCO CENTRAL DE BOLIVIA - 1ER PREMIO</b> <br><br> <iframe width="420" height="315" src="https://www.youtube.com/embed/LXLB_vfkd1w" frameborder="0" allowfullscreen></iframe></td>
        
      </tr>
       <tr>
        <td><center><b>III CONCURSO DE TEATRO-BANCO CENTRAL DE BOLIVIA - 2DO PREMIO</b> <br><br><iframe width="420" height="315" src="https://www.youtube.com/embed/Kf0Xnp2geyk" frameborder="0" allowfullscreen></iframe></td>
        
        
      
        <td><center><b>III CONCURSO DE TEATRO-BANCO CENTRAL DE BOLIVIA - 3ER PREMIO</b> <br><br><iframe width="420" height="315" src="https://www.youtube.com/embed/PqqCfG2OA1c" frameborder="0" allowfullscreen></iframe></td>
       
        
      </tr>
      
    </tbody>
  </table>
</div>

</body>
</html>